.modal-dialog.addFood {
  text-align: center;
  background-color: white;
  position: absolute;
  overflow: scroll;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addFood {
  grid-column: 2;
}
.modal-dialog.details {
  display: grid;
  text-align: center;
  background-color: rgba(255, 208, 0, 0.87);
  position: absolute;
  overflow: scroll;
  width: 70vw;
  height: 70vh;
  top: 15%;
  left: 15%;
}
