.modal-dialog.addFood {
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addFood {
  grid-column: 2;
}
