* {
  outline: none;
}

.modal-dialog.addFood {
  text-align: center;
  background-color: #ef8254;
  position: absolute;
  overflow: scroll;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
}
.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addFood {
  grid-column: 2;
}
.add-section {
  background-color: #ef8254;
}
.add-header {
  display: flex;
  justify-content: center;
}
.generateBtn {
  margin-right: 0;
  margin-left: auto;
  margin-top: 1em;
}
#generateBtn {
  border: none;
  background-color: rgba(240, 238, 238, 0.466);
  width: 15em;
  height: 3em;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.closeBtn {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50px;
  border: none;
  margin-right: 0;
  margin-left: auto;
  background-color: transparent;
}

.closeBtn:hover {
  background-color: white;
  border: none;
}
.modal-dialog.details {
  display: grid;
  text-align: center;
  background-color: rgba(248, 248, 246, 0.87);
  position: absolute;
  overflow: scroll;
  width: 70vw;
  height: 70vh;
  top: 15%;
  left: 15%;
}
#fridge {
  display: grid;
  justify-items: left;
  background-color: #ef8254;
}
.foodIcon {
  width: 100px;
}
.foodIcon:hover {
  transform: scale(1.2);
}
.fridge-inside {
  background-image: url('https://i.ibb.co/wScST4X/shelf.png');
  background-size: em;
  background-repeat: no-repeat;
  margin-top: 5em;
  margin-left: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#fridge-item {
  margin: 1em 1em 2em 1em;
}
#searchBtn {
  width: 8em;
  height: 3em;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.searchField {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

#addBtn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: white 2px solid;
  background: transparent;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

#deleteBtn {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(226, 5, 5);
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}
.recipeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background: linear-gradient(to bottom, #ef8354 44%, #eead91 93%);
}
#recipeCard {
  margin: 2em;
}
.recipeDetails {
  padding: 2em;
}
