.home {
  display: grid;
  grid-template-columns: 4fr 2fr;
  background-color: black;
}
.left {
  position: relative;
  display: grid;
  align-items: center;
}
h1 {
  color: white;
  font-size: 3em;
}
.right {
  display: grid;
  grid-column: 2;
  height: 100vh;
  background-color: rgb(255, 208, 0);
}
.plate {
  margin-left: -19em;
}
header {
  display: flex;
  justify-self: right;
}
.modal-dialog.modal {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 208, 0);
  position: absolute;
  overflow: scroll;
  width: 50vw;
  height: 50vh;
  top: 30%;
  left: 20%;
}
#closeBtn {
  justify-self: right;
}
input {
  width: 25em;
  height: 3em;
  border: wpx black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.459);
}
.check {
  background-color: green;
  border: none;
}
