@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}
*:focus {
  outline: none;
}
.home {
  display: grid;
  grid-template-columns: 4fr 2fr;
  background-color: #093824;
}
.left {
  position: relative;
  display: grid;
  align-items: center;
}

.copy {
  display: flex;
  flex-direction: column;
}
.right {
  display: grid;
  grid-column: 2;
  height: 100vh;
  background-color: #7fb685;
}
.plate {
  margin-left: -19em;
}
header {
  display: flex;
  justify-self: right;
}
.signBtn {
  width: 6em;
  height: 3em;
  border-radius: 10px;
  margin: 0.5em;
  background-color: rgba(255, 255, 255, 0.295);
}
.modal-dialog.modal {
  display: grid;
  text-align: center;
  background-color: #ef8354;
  position: absolute;
  overflow: scroll;
  width: 50vw;
  height: 60vh;
  top: 20%;
  left: 20%;
}

.header {
  display: grid;
}
#closeBtn {
  justify-self: right;
  padding: 7px 10px 7px 10px;
  border-radius: 50px;
}
#signBtn {
  width: 25em;
  height: 3em;
  border: rgb(248, 245, 245) solid;
  border-radius: 5px;
  background-color: black;
  margin-top: 1em;
  color: white;
}
form {
  display: grid;
  justify-items: center;
  align-self: center;
}
input {
  width: 25em;
  height: 3em;
  border: 2px black solid;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.459);
  margin: 0.5em;
}
.check {
  background-color: green;
  border: none;
}

.home-title {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  text-shadow: 5px 0.9px 0 #ef8354;
  margin-left: 2em;
  font-size: 3em;
}

.copy-p {
  color: #ef8354;
  font-size: 2em;
  width: 15em;
  align-self: center;
  background-color: #7fb685;
  border-radius: 10px;
}
