* {
  outline: none;
}
.popular-page {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: space-between;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, #ef8354 44%, #eead91 93%);
}

.popular-item {
  margin: 1em;
  color: black;
}

.recipe-title {
  color: black;
}

.like {
  border: none;
  background-color: #faa916;
  border-radius: 2em;
}

.like:hover {
  background-color: #f0c679;
}
