* {
  outline: none;
}
.popular-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-content: space-between;
  scroll-behavior: smooth;
  background-color: #8eb339f8;
}

.popular-item {
  margin: 1em;
  border: 1px solid #093824;
  color: black;
}

.recipe-title {
  color: black;
}

.like {
  border: none;
  background-color: #faa916;
  border-radius: 2em;
}

.like:hover {
  background-color: #f0c679;
}
