* {
  outline: none;
}
.modal-dialog.myRecipes {
  text-align: left;
  background: linear-gradient(to bottom, #ef8354 44%, #eead91 93%);
  position: absolute;
  overflow: scroll;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
}

/* .my-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
} */

.create-first-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  margin: 2em;
  width: 20vw;
}
.modal-dialog.create-title {
  text-align: center;
  background: linear-gradient(to bottom, #ef8354 44%, #eead91 93%);
  position: absolute;
  overflow: scroll;
  width: 50vw;
  height: 30vh;
  top: 30%;
  left: 25%;
}

.my-recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}
.my-recipe-title {
  grid-column: 1/3;
  grid-row: 1/2;
}

p {
  font-weight: bold;
}
.my-details {
  grid-row: 2/3;
  grid-column: 1/3;
}

.all-recipes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.create-section {
  display: flex;
}

.modal-dialog.restaurants {
  text-align: left;
  background-color: #ef8254;
  position: absolute;
  overflow: scroll;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
  display: grid;
}
.find-restaurants {
  text-align: center;

.delete-mine {
  margin-bottom: 1em;
}

.recipe-details-instruc {
  text-align: left;
  margin-left: 20%;
  width: 40vw;

}
