.modal-dialog.myRecipes {
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  overflow: scroll;
  width: 90vw;
  height: 90vh;
  top: 5%;
  left: 5%;
}
.my-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cards {
  width: 20em;
  margin: 2em;
}
