*:focus {
  outline: none;
}

.modal-dialog.setting {
  text-align: left;
  background: linear-gradient(to bottom, #ef8354 44%, #eead91 93%);
  position: absolute;
  overflow: scroll;
  width: 50vw;
  height: 50vh;
  top: 20%;
  left: 26%;
}

.setting-title {
  text-align: center;
  font-size: 2em;
  color: black;
}

#closeBtn {
  padding: 7px 10px 7px 10px;
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

#closeBtn:hover {
  background-color: white;
  border: none;
}

.setting-restrictions {
  display: flex;
  /* flex-direction: column; */
  margin-top: 0;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
}
.option {
  background-color: black;
  color: white;
}
.setting-subtitle {
  font-size: 1.5em;
}
.setting-subtitle,
.setting-cuisine {
  text-align: center;
}
.setting-cuisine {
  grid-column: 1/2;
}
.setting-check {
  width: 2em;
  margin-right: 2em;
}

.setting-save-containter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting-dropdown {
  border: 3px solid #000000;
  letter-spacing: 1px;
  padding: 10px 15px 10px 25px;
}

.setting-dropdown:hover,
.setting-check:hover {
  background-color: #faa916;
}
